@font-face {
    font-family: "Haversham";
    src: url("assets/Haversham.ttf");
}

body{
    background-image: url('assets/stones.jpg');;
    background-repeat: repeat;
    background-color: rgb(114, 131, 114);
}

button{
    margin-left: 50%;
    margin-top: 7%;
    text-align: center;
    font-family: Haversham;
    padding: 10px;
    font-size: 20px;

}

h1{
    text-align: center;
    padding-top: 130px;
    font-family: Haversham;
    font-size: 70px;
    color: white;
    text-shadow: -4px -4px 0 #5c5c5c, 4px -4px 0 #642d2d, -4px 4px 0 #1a604c, 4px 4px 0 #000; 
/*         -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    

}

h2{
    padding-top: 25px;
    text-align: center;
    font-family: Haversham;
/*     text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF; */
    text-shadow: -2px -2px 0 #E8C6C6, 2px -2px 0 #FFF, -2px 2px 0 #C2FDDC, 2px 2px 0 #FFF;
}
